.description {
  text-align: center;
}
.avatar {
  width: 200px;
}
.name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.tag {
  margin-bottom: 10px;
}
.location {
  margin-bottom: 20px;
}
